{% extends "indexAdmin.html" %}
{% load static %}

{% block body %}
<div class="container1">
    <h1>Agendamento de salas</h1>
    <p>Apenas permissão dos Professores e coordenadores</p>
    <div class="table-actions">
        <form id="deleteForm" method="POST" action="{% url 'homepageAdmin' %}">
            {% csrf_token %}
            <input type="hidden" name="delete" value="delete">
            <input type="hidden" id="selectedIds" name="selected_ids">
        </form>
        <span class="material-symbols-outlined">
            search
            </span>
            
        <input type="text" id="searchInput" placeholder="Buscar por nome da sala">
        <button id="searchBtn" class="searchBtn">Buscar</button>
        <button id="filterBtn">Filters</button>
        <button id="deleteBtn">Delete</button>
        <button id="addBtn" class="add-new">+ Adicionar</button>
    </div>
    <table class="student-table">
        <thead>
            <tr>
                <th><input type="checkbox" id="selectAll"><label for="selectAll"></label></th>
                <th>Sala</th>      
                <th>Descrição</th>
                <th>Equipamentos</th>
                <th>Agendamento</th>
            </tr>
        </thead>
        <tbody id="tableBody">
            {% for item in dadosSalas %}
            <tr>
                <td><input type="checkbox" class="select-row" data-id="{{ item.id }}" data-sala="{{ item.salas }}" data-numero="{{ item.numero }}" id="checkbox{{ forloop.counter }}"><label for="checkbox{{ forloop.counter }}"></label></td>
                <td>{{ item.salas }}</td>
                <td>{{ item.descricao }}</td>
                <td>{{ item.equipamentos }}</td>
                <td class="status {% if all_booked %}inactive{% else %}active{% endif %}">{{ item.agendamento }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Modal -->
<div id="addRoomModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Adicione uma sala ao banco de dados</h2>
        <form id="addRoomForm" method="POST" action="{% url 'homepageAdmin' %}">
            {% csrf_token %}
            <label for="roomName">Sala:</label>
            <input type="text" id="roomName" name="salas" placeholder="Nome da Sala">
            <label for="description">Descrição:</label>
            <input type="text" id="description" name="descricao" placeholder="Descrição">
            <label for="equipment">Equipamentos:</label>
            <input type="text" id="equipment" name="equipamentos" placeholder="Equipamentos">
            <button type="submit" class="add-btn">+ Adicionar</button>
        </form>
    </div>
</div>
<div id="filterModal" class="modal">
    <div class="modal-content">
        <h2>Escolha o tipo de filtro</h2>
        <button id="filterAZBtn">A - Z</button>
        <button id="filterZABtn">Ordenar de Z a A</button>
    </div>
</div>


{% endblock %}
